@media (min-width: 1024px) {
    .nav-logo {
        width: 260px;
        margin-right: 8vh;
    }

    .nav-ul li a {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .nav-ul li a {
        font-size: 1rem;
        margin-right: 20px;
    }
    .nav-logo {
        width: 22vh;
        margin-right: 5vh;
    }
}

@media (max-width: 600px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-ul {
        display: none;
    }

    .nav-ul.open {
        display: block;
    }

    .nav-img-hamburger-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
    }

    .hamburger {
        display: flex;
        width: 5vh;
        padding: 1rem;
        margin-right: 1rem;
        cursor: pointer;
    }

    .nav-logo {
        width: 20vh;
    }
}