@media (min-width: 1024px) {
    .nav-logo {
        width: 240px;
        height: 65px;
        margin-right: 8vh;
    }

    .nav-ul li a {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .nav-ul li a {
        font-size: 2vw;
        margin-right: 20px;
    }
    .nav-logo {
        width: 20vw;
        min-width: 23vw;
        margin-right: 10vw;
    }
}

@media (max-width: 600px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo {
        width: 13vw;
    }

    .nav-ul {
        display: none;
    }

    .nav-ul.open {
        display: block;
    }

    .nav-img-hamburger-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .hamburger {
        display: flex;
        width: 10vw;
        max-width: 13vw;
        padding: 1rem;
        cursor: pointer;
    }

    .nav-logo {
        width: 40vw;
    }
}