@media (min-width: 1024px) {
    .all-reviews-container {
        width: 100%;
        justify-content: center;
        overflow-x: hidden;
    }

    .reviews {
        gap: 2rem;
    }

    .testimonials-container h1 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 1024px) {
    .all-reviews-container {
        width: 420px;
    }
}

@media (max-width: 600px) {
    .all-reviews-container {
        width: 200px;
    }
}

