* {
    padding: 0;
    margin: 0;
    font-family: 'Karla';
}

/*============ NAV BELLOW ============*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav-logo {
    padding: 1rem;
}

.nav-ul li a {
    color: black;
    margin-right: 33px;
    font-size: 18px;
    font-weight: 700;
}

.nav-ul li a:hover {
    color: #F4CE14;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #EDEFEE;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

/* =========== HERO BELLOW ==========*/

.article-column-one h1 {
    font-family: 'Markazi';
    font-weight: 500;
    color: #F4CE14;
}

.article-column-one h2 {
    font-family: 'Markazi';
    font-weight: 300;
    color: #EDEFEE;
}

.article-column-one p {
    display: flex;
    flex-direction: flex-start;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 300;
    color: #EDEFEE;
    margin-bottom: 2rem;
}

.article-column-two {
    display: flex;
}

article {
    background-color: #495E57;
}

.hero-image {
    margin: 1rem;
    border-radius: 16px;
}
/* ======== HIGHLIGHT BELLOW ========*/

.highlights-title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.highlight-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.highlights-title h2 {
    font-family: 'Markizi';
    font-size: 40px;
    font-weight: 500;
}

/* ------ CARD BELLOW ------ */

.card {
    width: 280px;
    height: 465px;
    background-color: #EDEFEE;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-bottom: 1rem;
}

.card-image {
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card-details {
    margin: 1rem;
}

.card-details p {
    margin-bottom: 3rem;
    height: 90px;
}

.card-header-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-header-container h3:nth-child(2) {
    font-weight: 500;
    color: #EE9972;
}

.delivery-icon {
    width: 20px;
    margin-left: 10px;
}

.order-button {
    color: #333333;
    font-weight: bold;
    transition: color 0.1s ease-out;
}

.order-button:hover {
    color: #F4CE14;
}
/* ========== FOOTER BELLOW =========*/

.footer-li a:hover {
    color: #F4CE14;
}

footer {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-columns-wrapper {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-column h3 {
    color: #EDEFEE;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
}