* {
    padding: 0;
    margin: 0;
    font-family: 'Karla';
}

/*============ NAV BELLOW ============*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav-logo {
    padding: 1rem;
}

.nav-ul li a {
    color: black;
    margin-right: 33px;
    font-size: 18px;
    font-weight: 700;
}

.nav-ul li a:hover {
    color: #F4CE14;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #EDEFEE;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

/* =========== HERO BELLOW ==========*/

.article-column-one h1 {
    font-family: 'Markazi';
    font-weight: 500;
    color: #F4CE14;
}

.article-column-one h2 {
    font-family: 'Markazi';
    font-weight: 300;
    color: #EDEFEE;
}

.article-column-one p {
    display: flex;
    flex-direction: flex-start;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 300;
    color: #EDEFEE;
    margin-bottom: 2rem;
}

.article-column-two {
    display: flex;
}

article {
    background-color: #495E57;
}

.hero-image {
    margin: 1rem;
    border-radius: 16px;
}
/* ======== HIGHLIGHT BELLOW ========*/

.highlights-title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.highlight-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.highlights-title h2 {
    font-family: 'Markizi';
    font-size: 40px;
    font-weight: 500;
}

/* ------ CARD BELLOW ------ */

.card {
    width: 280px;
    height: 465px;
    background-color: #EDEFEE;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-bottom: 1rem;
}

.card-image {
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card-details {
    margin: 1rem;
}

.card-details p {
    margin-bottom: 3rem;
    height: 90px;
}

.card-header-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-header-container h3:nth-child(2) {
    font-weight: 500;
    color: #EE9972;
}

.delivery-icon {
    width: 20px;
    margin-left: 10px;
}

.order-button {
    color: #333333;
    font-weight: bold;
    transition: color 0.1s ease-out;
}

.order-button:hover {
    color: #F4CE14;
}

/* ======= TESTIMONIALS BELLOW ======*/


.testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #495E57;
}

.testimonials-container h1 {
    font-family: 'Markizi';
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: 500;
    color: #EDEFEE;
}

/* ========== ABOUT BELLOW ==========*/

.title-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.title-container h1 {
    font-family: 'Markizi';
    color: #F4CE14;
    font-size: 44px;
}

.title-container h2 {
    font-family: 'Markizi';
    font-size: 26px;
    margin-top: -0.5rem;
}

.both-photos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.photo {
    width: 220px;
    height: 330px;
    object-fit: cover;
    border-radius: 16px;
}

.border {
    border: 5px solid white;
}

.photo-right {
    margin-left: -50px;
    margin-bottom: 60px;
    border-radius: 16px;
}

/* ------ REVIEW BELLOW ------ */
.all-reviews-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    height: auto;
}

.review-container {
    height: 200px;
    width: 200px;
    background-color: #EDEFEE;
    border-radius: 16px;
}

.review-content {
    margin: 1rem;
}

.reviews {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.img-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-content h4 {
    margin-bottom: 0.5rem;
}

.review-content p {
    margin-top: 0.5rem;
}

.review-content img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 16px;
}

.review-content h3 {
    margin-left: 1rem;
}

/* ========== FOOTER BELLOW =========*/

.footer-li a:hover {
    color: #F4CE14;
}

footer {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-columns-wrapper {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-column h3 {
    color: #EDEFEE;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
}