* {
    padding: 0;
    margin: 0;
    font-family: 'Karla';
}

/*============ NAV BELLOW ============*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav-logo {
    margin-right: 5vh;
    padding: 1rem;
}

.nav-ul li a {
    color: black;
    margin-right: 33px;
    font-size: 18px;
    font-weight: 700;
}

.nav-ul li a:hover {
    color: #F4CE14;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #EDEFEE;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

/* =========== HERO BELLOW ==========*/
.article-column-one h1 {
    font-family: 'Markazi';
    font-weight: 500;
    color: #F4CE14;
}

.article-column-one h2 {
    font-family: 'Markazi';
    font-weight: 300;
    color: #EDEFEE;
}

.article-column-one p {
    display: flex;
    flex-direction: flex-start;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 300;
    color: #EDEFEE;
    margin-bottom: 2rem;
}

.article-column-two {
    display: flex;
}

article {
    background-color: #495E57;
}

.hero-image {
    margin: 1rem;
    border-radius: 16px;
}

/* ========== FOOTER BELLOW =========*/

.footer-li a:hover {
    color: #F4CE14;
}

footer {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 3vh;
    margin-left: 3vh;
}

.footer-columns-wrapper {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-column h3 {
    color: #EDEFEE;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
}